body{
  overflow: hidden;
}
span.lnr.lnr-cart {
  color: black;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 40px;
  margin-top: 52px;
  margin-right: 91px;
}


#header{
  background-image: url(../images/cover_background.jpg);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 55%;
  box-shadow: 0px 12px 14.94px 3.06px rgba(118, 72, 0, 0.25);
  width: 100%;
  height: 900px; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

a.navbar-brand {
  margin-top: 52px;
}

li.shopping-cart {
  margin-top: 52px;
}


li.logo-navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
  margin-top: 52px;
}

img.product_one {
  float: right;
  margin-top: 8.8%;
  margin-right: 1.8%;
}

h1.heading-slider {
  margin-top: -62%;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-left: 18%
  font-family: 'Raleway', sans-serif;
  color:  #1d0f0c;
  font-size: 67px;/* Approximation due to font substitution */
  font-weight: 900;
  /*    line-height: 97.77px; Approximation due to font substitution */
  text-align: left;
}

img.product-slider {
  margin-left: 50%;
  margin-top: 9%;
  margin-right: 6%;
}

p.caption-slider {
  font-family: 'Source Sans Pro';
  color: #1d0f0c;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  text-align: left;
}

button.btn.btn-default.get-it {
  border-radius: 5px;
  background-color: #1d0f0c;
  width: 16%;
  /* height: 11.7%; */
  color: rgb(255, 172, 0);
  border-color: transparent;
  margin-left: -58%;
  margin-right: 10%;
}

button.btn.btn-default.more{
  border-radius: 5px;
  background-color: transparent;
  width: 16%;
  /* height: 11.7%; */
  color: rgb(255, 255, 255);
  border-color: transparent;
  border-color: #fff;
  border-width: 1px;

}

img.product-slider {
  margin-left: 54.8%;
  margin-top: 10.9%;
}

button.slider-left {
  border-radius: 5px;
  border-width: 1px;
  border-color:  #1d0f0c;
  border-style: solid;
  background-color:  rgba(255, 255, 255, 0);
  width: 87px;
  height: 51px;
}
button.slider-right {
  border-radius: 5px;
  border-width: 1px;
  border-color:  #1d0f0c;
  border-style: solid;
  background-color:  rgba(255, 255, 255, 0);
  width: 87px;
  height: 51px;
}

a i.fas.fa-angle-right {
  color: black;
}

a i.fas.fa-angle-left {
  color: black;
}

span.control-buttons {
  margin-left: 60%;
}

p.credits {
  font-family: 'Source Sans Pro';
  color: #1d0f0c;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  /* line-height: 97.77px; */
  text-align: left;
  transform: rotate(-90deg);
  /* margin-top: -7%; */
  margin-left: 110%;
}
